.dashboard {
  min-height: 100vh;
  display: flex;
  flex: 1;
  flex-direction: column;
  background-color: #1d1d20;
  /* background-color: #aaaad8; */
  padding: 1.4rem;
}

.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5rem;
  margin-bottom: 2rem;
}
.headerIcons{
  display: flex;
}

/* Main Container */
.main{
  display: flex;
  flex-direction: column;
}
.container{
  display: flex;
  max-width: 18rem;
  padding: 0;
  margin: 0;
}
.mediaContainer{
  padding-left: 1.5rem;
  overflow: hidden;
  min-height: 15rem;
  max-height: 15rem;
  max-width: 18rem;
  padding-top: 0.5rem;
  background-color: #c5d663;
  transition: all 1s;
}

/* Projects */
.projects{
  transition: all 1s;
  padding-left: 1.5rem;
  overflow: hidden;
}
.coolBox{
  width: 7rem;
  height: 7rem;
  background-color: transparent;
  border-left: 0.15rem solid purple;
  border-top: 0.15rem solid purple;
  border-top-left-radius: 8px;
  position: absolute;
}
.projectsList{
  padding: 1.8rem;
}
.listItems{
  margin-bottom: 1rem;
}